
<table id="keywords">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>
  <thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td>
        <a href="/contact/<%= contact.id %>/edit">edit</a>
        <%= " | " %>
        <form class="inline" action="contact/<%= contact.id %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </td>
      <td><%= contact.to_h.fetch('first') {""} %></td>
      <td><%= contact.to_h.fetch('last') {""} %></td>
      <td><%= contact.to_h.fetch('address').all {""} %></td>
      <td><%= contact.to_h.fetch('phone') {""} %></td>
      <td><%= contact.to_h.fetch('email') {""}%></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <p>
    <a href="/home/create_contact">Create New Contact</a>
</p>