
<table id="keywords">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>
  <thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td>
        <a href="/contact/<%= contact.id %>/edit">edit</a>
        <%= " | " %>
        <a href="/home/delete/<%= contact.id %>">delete</a>
      </td>
      <td><%= contact.last %></td>
      <td><%= contact.first %></td>
      <td><%= contact.address.all %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <p>
    <a href="/home/create_contact">Create New Contact</a>
</p>